# MSPMA(Maximum Sales Probability Matching Algorithm)

# 2020년 6월 1일의 시간대별 상품 취급액 예측 후 MSPMA로 새로운 편성 확인

In [1]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import random
import sys
import re
import matplotlib.pyplot as plt

from sklearn.preprocessing import RobustScaler

from keras.layers import Dense, Activation, Flatten, Conv1D, MaxPooling1D, AveragePooling1D, GlobalMaxPooling1D, Conv1DTranspose, concatenate, Input, add, Dropout, BatchNormalization
from tensorflow.keras import Model

In [ ]:
# 숫자 표기법 변환
pd.set_option('display.float_format', '{:.2f}'.format)

# 한글 깨짐 방지
plt.rc('font', family='Malgun Gothic')

# 도화지 크기 설정
plt.rcParams['figure.figsize'] = (8, 8)

## 1. 테스트 데이터의 6월 1일만 추출하여 데이터 셋 만들기

In [ ]:
org_test = pd.read_csv("/content/drive/Shared drives/빅콘테스트2020/data/data/02_평가데이터/test.csv", header=1)

In [ ]:
test = pd.read_csv('/content/drive/Shared drives/빅콘테스트2020/real_test.csv')

In [ ]:
total_test = pd.concat([org_test, test], axis=1)

In [ ]:
# 테스트 데이터에서 2020년 6월 1일의 row는 06시부터 02시(다음날이지만 한 싸이클로 포함)까지 79개
june_1st = total_test.iloc[:79, :]

In [ ]:
# 판매단가가 '-'인 것 0으로 채우기
june_1st['판매단가'] = ['0' if x == ' - ' else x for x in june_1st['판매단가']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# 판매단가 integer 타입으로 변환
june_1st['판매단가'] = [x.replace(',','').strip() for x in june_1st['판매단가']]
june_1st['판매단가'] = june_1st['판매단가'].astype('int')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# 표시된 것 이외에는 1시간에 3개 row씩 존재
product1 = june_1st.iloc[:3,:]
product2 = june_1st.iloc[3:6,:]
product3 = june_1st.iloc[6:9,:]
product4 = june_1st.iloc[9:12,:]
product5 = june_1st.iloc[12:15,:]
product6 = june_1st.iloc[15:18,:]
product7 = june_1st.iloc[18:21,:]
product8 = june_1st.iloc[21:27,:] # 6개
product9 = june_1st.iloc[27:28,:] # 1개
product10 = june_1st.iloc[28:31,:]
product11 = june_1st.iloc[31:34,:]
product12 = june_1st.iloc[34:40,:] # 6개
product13 = june_1st.iloc[40:43,:]
product14 = june_1st.iloc[43:46,:]
product15 = june_1st.iloc[46:49,:]
product16 = june_1st.iloc[49:58,:] # 9개
product17 = june_1st.iloc[58:67,:] # 9개
product18 = june_1st.iloc[67:73,:] # 6개
product19 = june_1st.iloc[73:76,:]
product20 = june_1st.iloc[76:79,:]

In [ ]:
# 각 시간대별 예측을 위해 시간 변수를 바꿔서 늘린 테스트 데이터의 마더코드별 데이터셋 구축
product1_total = pd.DataFrame()
product2_total = pd.DataFrame()
product3_total = pd.DataFrame()
product4_total = pd.DataFrame()
product5_total = pd.DataFrame()
product6_total = pd.DataFrame()
product7_total = pd.DataFrame()
product8_total = pd.DataFrame()
product9_total = pd.DataFrame()
product10_total = pd.DataFrame()
product11_total = pd.DataFrame()
product12_total = pd.DataFrame()
product13_total = pd.DataFrame()
product14_total = pd.DataFrame()
product15_total = pd.DataFrame()
product16_total = pd.DataFrame()
product17_total = pd.DataFrame()
product18_total = pd.DataFrame()
product19_total = pd.DataFrame()
product20_total = pd.DataFrame()

In [ ]:
# product1
for i in range(20):
  temp = product1.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 3
  product1_total = product1_total.append(temp)
  product1_total = product1_total.reset_index(drop=True)

In [ ]:
# product2
for i in range(20):
  temp = product2.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 3
  product2_total = product2_total.append(temp)
  product2_total = product2_total.reset_index(drop=True)

In [ ]:
# product3
for i in range(20):
  temp = product3.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 3
  product3_total = product3_total.append(temp)
  product3_total = product3_total.reset_index(drop=True)

In [ ]:
# product4
for i in range(20):
  temp = product4.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 3
  product4_total = product4_total.append(temp)
  product4_total = product4_total.reset_index(drop=True)

In [ ]:
# product5
for i in range(20):
  temp = product5.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 3
  product5_total = product5_total.append(temp)
  product5_total = product5_total.reset_index(drop=True)

In [ ]:
# product6
for i in range(20):
  temp = product6.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 3
  product6_total = product6_total.append(temp)
  product6_total = product6_total.reset_index(drop=True)

In [ ]:
# product7
for i in range(20):
  temp = product7.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 3
  product7_total = product7_total.append(temp)
  product7_total = product7_total.reset_index(drop=True)

In [ ]:
# product8
for i in range(20):
  temp = product8.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+6)%24, (i+6)%24, (i+7)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 6
  product8_total = product8_total.append(temp)
  product8_total = product8_total.reset_index(drop=True)

In [ ]:
# product9
for i in range(20):
  temp = product9.copy()
  temp['시'] = [(i+6)%24]
  temp['시간대'] = [str((i + 6)%24) + '시']
  product9_total = product9_total.append(temp)
  product9_total = product9_total.reset_index(drop=True)

In [ ]:
# product10
for i in range(20):
  temp = product10.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 3
  product10_total = product10_total.append(temp)
  product10_total = product10_total.reset_index(drop=True)

In [ ]:
# product11
for i in range(20):
  temp = product11.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 3
  product11_total = product11_total.append(temp)
  product11_total = product11_total.reset_index(drop=True)

In [ ]:
# product12
for i in range(20):
  temp = product12.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+6)%24, (i+6)%24, (i+7)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 6
  product12_total = product12_total.append(temp)
  product12_total = product12_total.reset_index(drop=True)

In [ ]:
# product13
for i in range(20):
  temp = product13.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 3
  product13_total = product13_total.append(temp)
  product13_total = product13_total.reset_index(drop=True)

In [ ]:
# product14
for i in range(20):
  temp = product14.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 3
  product14_total = product14_total.append(temp)
  product14_total = product14_total.reset_index(drop=True)

In [ ]:
# product15
for i in range(20):
  temp = product15.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 3
  product15_total = product15_total.append(temp)
  product15_total = product15_total.reset_index(drop=True)

In [ ]:
# product16
for i in range(20):
  temp = product16.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+6)%24, (i+6)%24, (i+6)%24, (i+6)%24, (i+7)%24, (i+7)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 9
  product16_total = product16_total.append(temp)
  product16_total = product16_total.reset_index(drop=True)

In [ ]:
# product17
for i in range(20):
  temp = product17.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+6)%24, (i+6)%24, (i+6)%24, (i+6)%24, (i+7)%24, (i+7)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 9
  product17_total = product17_total.append(temp)
  product17_total = product17_total.reset_index(drop=True)

In [ ]:
# product18
for i in range(20):
  temp = product18.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+6)%24, (i+6)%24, (i+7)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 6
  product18_total = product18_total.append(temp)
  product18_total = product18_total.reset_index(drop=True)

In [ ]:
# product19
for i in range(20):
  temp = product19.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 3
  product19_total = product19_total.append(temp)
  product19_total = product19_total.reset_index(drop=True)

In [ ]:
# product20
for i in range(20):
  temp = product20.copy()
  temp['시'] = [(i+6)%24, (i+6)%24, (i+7)%24]
  temp['시간대'] = [str((i + 6)%24) + '시'] * 3
  product20_total = product20_total.append(temp)
  product20_total = product20_total.reset_index(drop=True)

In [ ]:
augmented_test = pd.concat([product1_total, product2_total, product3_total, product4_total, product5_total,
                            product6_total, product7_total, product8_total, product9_total, product10_total,
                            product11_total, product12_total, product13_total, product14_total, product15_total,
                            product16_total, product17_total, product18_total, product19_total, product20_total], axis=0)

In [ ]:
augmented_test_fit = augmented_test.iloc[:, 8:-1]

In [ ]:
scaler = RobustScaler()
scaler.fit(augmented_test_fit)
augmented_test_final = pd.DataFrame(scaler.transform(augmented_test_fit), columns=augmented_test_fit.columns)

## 2. 모델에 train으로 학습된 weight를 넣고 합쳐진 test 데이터 prediction

In [ ]:
def build_model(input_layer, start_neurons):
    
    conv1 = Conv1D(start_neurons * 1, 3, activation="relu", padding="same", input_shape=(augmented_test_final.shape[1], 1))(input_layer)
    conv1 = Conv1D(start_neurons * 1, 3, activation="relu", padding="same")(conv1)
    pool1 = BatchNormalization()(conv1)
    pool1 = AveragePooling1D(2)(pool1)
    pool1 = Dropout(0.1)(pool1)

    conv2 = Conv1D(start_neurons * 2, 3, activation="relu", padding="same")(pool1)
    conv2 = Conv1D(start_neurons * 2, 3, activation="relu", padding="same")(conv2)
    pool2 = BatchNormalization()(conv2)
    pool2 = AveragePooling1D(2)(pool2)
    pool2 = Dropout(0.1)(pool2)

    convm = Conv1D(start_neurons * 4, 3, activation="relu", padding="same")(pool2)

    deconv2 = Conv1DTranspose(start_neurons * 1, 3, strides=2, padding="same")(convm)
    uconv2 = concatenate([deconv2, conv2])
    uconv2 = Dropout(0.1)(uconv2)
    uconv2 = Conv1D(start_neurons * 1, 3, activation="relu", padding="same")(uconv2)
    uconv2 = Conv1D(start_neurons * 1, 3, activation="relu", padding="same")(uconv2)
    uconv2 = BatchNormalization()(uconv2)
    uconv2 = Dropout(0.1)(uconv2)

    deconv1 = Conv1DTranspose(start_neurons * 1, 3, strides=2, padding="same")(uconv2)
    uconv1 = concatenate([deconv1, conv1])
    uconv1 = Dropout(0.1)(uconv1)
    uconv1 = Conv1D(start_neurons * 1, 3, activation="relu", padding="same")(uconv1)
    uconv1 = Conv1D(start_neurons * 1, 3, activation="relu", padding="same")(uconv1)
    uconv1 = BatchNormalization()(uconv1)
    uconv1 = Dropout(0.1)(uconv1)

    flat = Flatten()(uconv1)
    dense1 = Dense(256, activation='relu')(flat)
    dense2 = Dense(128, activation='relu')(dense1)
    output_layer = Dense(1)(dense2)
    
    return output_layer

In [ ]:
# model 생성
input_layer = Input((augmented_test_final.shape[1], 1))
output_layer = build_model(input_layer, 512)
model = Model(input_layer, output_layer)

# model 가중치 불러오기
model.load_weights('/content/drive/Shared drives/빅콘테스트2020/weights/mspma/functional_1.50-34.5923.hdf5')

In [ ]:
# 수량 예측
y_pred = model.predict(augmented_test_final.values)

In [ ]:
y_pred = y_pred.reshape(-1)

## 3. 테스트 데이터의 판매단가와 예측된 수량을 곱하여 시간대별 취급액 계산

In [ ]:
augmented_test['취급액'] = y_pred * augmented_test['판매단가']

In [ ]:
# 2020년 6월 1일 각 상품의 시간대별 예상 취급액
mat = pd.pivot_table(augmented_test, index='마더코드', values='취급액', aggfunc='sum', columns='시간대')

In [ ]:
sorted_cols = ['6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
               '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시', '0시', '1시']

In [ ]:
mat = mat[sorted_cols]

In [ ]:
mat

시간대              6시           7시  ...           0시           1시
마더코드                              ...
100012  27321334.80  27282182.24  ...  28714187.75  28444106.45
100080  34999958.75  35173545.21  ...  35995858.22  35757280.20
100148 182913738.55 199100363.82  ... 131123953.70 137015197.50
100150 130787357.73 130873112.13  ... 135833076.52 134824557.86
100205  34584429.15  34468000.64  ...  35770045.49  35610876.65
100320  14866603.02  15383079.77  ...  13717086.79  13769879.43
100348  19761797.96  19895811.14  ...  20438540.64  20189520.03
100362  14891682.31  14906170.23  ...  14471015.73  14579231.14
100381  22638963.32  22906934.56  ...  22693838.29  22570095.47
100383  33239689.39  33545930.11  ...  31898219.79  32047001.90
100416  10278831.87  10323658.03  ...  10770471.39  10611649.63
100445  22501765.77  22880866.29  ...  21823346.68  21764304.03
100501  35711982.73  36373627.65  ...  33502250.71  33802290.66
100526   4022165.35   4084473.48  ...   3575218.20   3639289.81
100537  22598282.74  22900895.29  ...  21783015.23  21839356.57
100554         0.00         0.00  ...         0.00         0.00
100555         0.00         0.00  ...         0.00         0.00
100570         0.00         0.00  ...         0.00         0.00
100638  25582974.51  25512329.75  ...  26450167.01  26255854.00
100650   7507711.57   7449256.44  ...   8085260.25   7968600.93

[20 rows x 20 columns]

## 4. MSPMA(Maximum Sales Probability Matching Algorithm) 적용하여 각 상품별 최적 시간대 찾기

In [ ]:
# maxtrix 내 선택을 위한 빈 slot 데이터프레임 만들기
slot = mat.copy()
slot.iloc[:, :] = 0

In [ ]:
# 두 개의 취급액의 한 시간대를 놓고 경합할 경우의 확률적 선택 계산
def probability_matching(column, prod1, prod2):
    sale1 = mat.iloc[prod1, column]
    sale2 = mat.iloc[prod2, column]
    prob_sale1 = round((sale1 + 1e-15) / (sale1 + sale2 + 1e-15), 2)
    prob_sale2 = round((sale2 + 1e-15) / (sale1 + sale2 + 1e-15), 2)
    package = [prod1, prod2]
    return random.choices(package, weights=[prob_sale1, prob_sale2])[0]

In [ ]:
# MSPMA 알고리즘
def mspma(now_row, max_col):
    # 현재 상태의 값을 slot에 표시
    slot.iloc[now_row, max_col] = 1
    
    # slot 테이블에서 max_col에 로우 두 개가 1로 된 경우
    temp = np.array(slot.iloc[:, max_col])
    if len(temp[temp == 1]) == 2:
        
        # now_row외에 다른 1의 row위치를 찾기
        temp_col = list(slot.iloc[:, max_col])
        temp_col[now_row] = -1
        compare_row = np.where(np.array(temp_col) == 1)[0][0]
        
        # 확률 매칭 함수 적용
        result = probability_matching(max_col, now_row, compare_row)
        
        # 비교 대상(compare_row)이 선택되는 경우 (now_row의 max_col 위치가 바뀌어야 하는 상황)
        if result == compare_row:
            # now_row기존의 값을 -1로 대체
            slot.iloc[now_row, max_col] = -1
            mat.iloc[now_row, max_col] = -1
            
            # now_row에 0만 있는 것들 중 가장 큰 것의 인덱스 찾기
            max_col = np.argmax(mat.iloc[now_row, :])

            # slot에 현재 now_row에서 가장 큰 값이라고 표시
            slot.iloc[now_row, max_col] = 1
            
            # 재귀 함수
            mspma(now_row, max_col)

        # 현재 상품(now_row)이 선택되는 경우 (compare_row의 max_col 위치가 바뀌어야 하는 상황)
        else:
            # compare_row기존의 값을 -1로 대체
            slot.iloc[compare_row, max_col] = -1
            mat.iloc[compare_row, max_col] = -1
            
            # compare_row에 0만 있는 것들 중 가장 큰 것의 인덱스 찾기
            max_col = np.argmax(mat.iloc[now_row, :])
            
            # slot에 현재 compare_row에서 가장 큰 값이라고 표시
            slot.iloc[compare_row, max_col] = 1
            
            # 재귀함수
            mspma(compare_row, max_col)

In [ ]:
# 최종 구현
start_row = 0

for i in range(20):
    new_col = np.argmax(mat.iloc[start_row, :])   
    mspma(start_row, new_col)
    start_row += 1

In [ ]:
def isHangul(text):
    pyVer3 =  sys.version_info >= (3, 0)

    if pyVer3 : # for Ver 3 or later
        encText = text
    else: # for Ver 2.x
        if type(text) is not unicode:
            encText = text.decode('utf-8')
        else:
            encText = text

    hanCount = len(re.findall(u'[\u3130-\u318F\uAC00-\uD7A3]+', encText))
    return hanCount > 0

In [ ]:
for i in slot.columns:
    mother_code = slot[i][slot[i] == 1].index[0]
    name = june_1st[june_1st['마더코드'] == mother_code]['상품명']
    
    cnt = 0
    temp = set(name.values)
    for j in temp:
      for k in range(len(j)):
            temp2 = j[k]
            if isHangul(temp2):
                cnt += 2
            else:
                cnt += 1
            
    print('*')
    if len(i) > 2:
        print('--------  ', '------------------', ' '+'-'*cnt+'--'+'-'*(4*len(temp)-1)+'-------')
        print('|', i+' |','-> 마더코드:', mother_code,'| 상품:', set(name.values),'|')
        print('--------  ', '------------------', ' '+'-'*cnt+'--'+'-'*(4*len(temp)-1)+'-------')
    else:
        print('-------  ', '------------------', ' '+'-'*cnt+'--'+'-'*(4*len(temp)-1)+'------')
        print('|', i+' |','-> 마더코드:', mother_code,'| 상품:', str(temp)+'|')
        print('-------  ', '------------------', ' '+'-'*cnt+'--'+'-'*(4*len(temp)-1)+'------')

*
-------   ------------------  --------------------------------------------
| 6시 | -> 마더코드: 100554 | 상품: {'DB손해보험 참좋은운전자보험(1912)'}|
-------   ------------------  --------------------------------------------
*
-------   ------------------  ------------------------------------------------
| 7시 | -> 마더코드: 100555 | 상품: {'디비손보 아임오케이 암보험(20.05런칭)'}|
-------   ------------------  ------------------------------------------------
*
-------   ------------------  -----------------------------------------------
| 8시 | -> 마더코드: 100362 | 상품: {'에이유플러스 슈퍼선스틱 1004(최저가)'}|
-------   ------------------  -----------------------------------------------
*
-------   ------------------  ---------------------------------------
| 9시 | -> 마더코드: 100537 | 상품: {'[기간]제주바다자연산돔39마리'}|
-------   ------------------  ---------------------------------------
*
--------   ------------------  ----------------------------------------
| 10시 | -> 마더코드: 100381 | 상품: {'바비리스 퍼펙트 볼륨스타일러'} |
--------   ------------------  ----------------------------------------
*
--------   ------------------  ------------------------------------------------
| 11시 | -> 마더코드: 100445 | 상품: {'쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티'} |
--------   ------------------  ------------------------------------------------
*
--------   ------------------  -------------------------------
| 12시 | -> 마더코드: 100638 | 상품: {'램프쿡 자동회전냄비'} |
--------   ------------------  -------------------------------
*
--------   ------------------  ---------------------------------------------
| 13시 | -> 마더코드: 100348 | 상품: {'벨레즈온 심리스 원피스 4종 패키지'} |
--------   ------------------  ---------------------------------------------
*
--------   ------------------  -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
| 14시 | -> 마더코드: 100148 | 상품: {'LG 울트라HD TV AI ThinQ(인공지능 씽큐) 75형 75UN7850KNA', 'LG 울트라HD TV AI ThinQ(인공지능 씽큐) 65형 65UN7850KNA', 'LG 울트라HD TV AI ThinQ(인공지능 씽큐) 55형 55UN7850KNA'} |
--------   ------------------  -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*
--------   ------------------  --------------------------------------------------------------------------------------------------------------------------------------------------------
| 15시 | -> 마더코드: 100205 | 상품: {'보루네오 델루나 유로탑 슬라이딩 LED침대 슈퍼싱글', '보루네오 델루나 유로탑 슬라이딩 LED침대 킹', '보루네오 델루나 유로탑 슬라이딩 LED침대 퀸'} |
--------   ------------------  --------------------------------------------------------------------------------------------------------------------------------------------------------
*
--------   ------------------  ----------------------------------------------------------
| 16시 | -> 마더코드: 100501 | 상품: {'파격가 노비타 스마트 비데 무료설치(변기세정제)'} |
--------   ------------------  ----------------------------------------------------------
*
--------   ------------------  -------------------------------------------------------------------------------------------------------------------------
| 17시 | -> 마더코드: 100383 | 상품: {'한라궁 황칠 제주오메기떡 2종 40개 (호박오메기20봉+팥오메기20봉)', '한라궁 황칠 제주오메기떡 40개 (60g * 40봉)'} |
--------   ------------------  -------------------------------------------------------------------------------------------------------------------------
*
--------   ------------------  ------------------------------------------------------------------
| 18시 | -> 마더코드: 100320 | 상품: {'올바로 문어발 샤워기 1+1', '올바로 문어발 샤워기 1세트'} |
--------   ------------------  ------------------------------------------------------------------
*
--------   ------------------  -------------------------------------
| 19시 | -> 마더코드: 100650 | 상품: {'잭필드 남성  반팔셔츠 4종'} |
--------   ------------------  -------------------------------------
*
--------   ------------------  -----------------------------------------
| 20시 | -> 마더코드: 100416 | 상품: {'코몽트 남성 티셔츠 8종(시즌1)'} |
--------   ------------------  -----------------------------------------
*
--------   ------------------  -------------------------------------------------------------
| 21시 | -> 마더코드: 100526 | 상품: {'소노비 줄리엣 소가죽 토트백 1종+투숄더 버킷백 1종'} |
--------   ------------------  -------------------------------------------------------------
*
--------   ------------------  ------------------------------------------------------------
| 22시 | -> 마더코드: 100080 | 상품: {'아키 라이크라 릴렉스 보정브라 패키지(뉴아키28차)'} |
--------   ------------------  ------------------------------------------------------------
*
--------   ------------------  ---------------------------------------------------------------------
| 23시 | -> 마더코드: 100570 | 상품: {'(특)KT휴대폰_삼성갤럭시 A31', 'KT휴대폰_삼성갤럭시 노트10'} |
--------   ------------------  ---------------------------------------------------------------------
*
-------   ------------------  -----------------------------------------------
| 0시 | -> 마더코드: 100150 | 상품: {'LG전자 통돌이 세탁기 TR14WK1(화이트)'}|
-------   ------------------  -----------------------------------------------
*
-------   ------------------  --------------------------------
| 1시 | -> 마더코드: 100012 | 상품: {'AAC 삼채포기김치 10kg'}|
-------   ------------------  --------------------------------

## * 참고: 기존의 편성표 취급액 합과 MSPMA 적용 후 편성표 취급액 합 비교

기존의 취급액 합

In [ ]:
sclr = RobustScaler()
sclr.fit(june_1st.iloc[:, 8:])
test_scaled = pd.DataFrame(scaler.transform(june_1st.iloc[:, 8:]), columns=june_1st.iloc[:, 8:].columns)

In [ ]:
# model 생성
input_layer = Input((test_scaled.shape[1], 1))
output_layer = build_model(input_layer, 512)
model = Model(input_layer, output_layer)

# model 가중치 불러오기
model.load_weights('/content/drive/Shared drives/빅콘테스트2020/weights/mspma/functional_1.50-34.5923.hdf5')

In [ ]:
# 수량 예측
y_pred = model.predict(test_scaled.values)

In [ ]:
y_pred = y_pred.reshape(-1)

In [ ]:
sum(june_1st['판매단가'] * y_pred)

642569547.9828835

MSPMA 이후 취급액 합

In [ ]:
new_sum = 0

In [ ]:
for i in slot.columns:
    mother_code = slot[i][slot[i] == 1].index[0]
    new_sum += mat[i][mother_code]

In [ ]:
new_sum

811232518.2867279